# Python Basics_Assignment 1

---

> #### 1.         In the below elements which of them are values or an expression? <br>eg:- values can be integer or string and expressions will be mathematical operators.

> ###### * 
> ###### 'hello'
> ###### -87.8
> ###### - 
> ###### / 
> ###### +
> ###### 6

##### Answer:

##### * is an Mathematical Operator.

In [1]:
# It behaves like multiplication for numbers

2*3

6

In [2]:
# Different behaviour when used with String, List, Tuple data types

a="abs"
print(a*3)

b=['a','b','s']
print(b*3)

c=(a,b)
print(c*3)

absabsabs
['a', 'b', 's', 'a', 'b', 's', 'a', 'b', 's']
('abs', ['a', 'b', 's'], 'abs', ['a', 'b', 's'], 'abs', ['a', 'b', 's'])

##### 'hello' is Value of data type string

In [3]:
str= 'hello'
print(type(str))

<class 'str'>

##### -87.8 is a Value of data type Float

In [4]:
a = -87.8
print(type(a))

<class 'float'>

##### - + / are Mathematical Opearators

In [5]:
x= 1+2 /2 -2
x
# Follows BODMAS rule

0.0

In [6]:
x= (1+2) /2 -2
x
# Follows BODMAS rule

-0.5

##### 6 is a Value of data type Integer

In [7]:
type(6)

int

---

> #### 2. What is the difference between string and variable?

#### Answer:

String is a Data type, one of the many data types available in Python. <br> Other examples of Data types are int, float<br> 

Variable is like a container in which a value of any data type may be stored

---

> #### 3. Describe three different data types.

#### Answer:

Int is used to represent Integer Values<br>
Float is used to represent Decimal Values<br>
String is used to represent Words (basically any thing put under quotes qualifies as a string data type)

---

> #### 4. What is an Expression made up of ? What do all expressions do ?

#### Answer:

Expression generally implement a Mathematical Operation on Numeric Data types to carry out some steps in our program.<br>
For example '*' for Multiplication ; '/' for Division ; '+' for Addition to name a few <br>

However we can think of any manipulation on other data types also to be excuted by writing some expression.<br>
For example the String Concatenation Operation which is represented below:

In [8]:
lst_name = 'ABS'
frst_name= 'Gaurav'
full_name= frst_name +" "+ lst_name   # The right side of the = sign may be seen as an Expression
print(full_name)

Gaurav ABS

---

> #### 5. What is the difference between a Statement and an Expression ?

Taking the code example in the previous question. We understand what an Expression is.<br> Some part of code where data manipulatin is being done.

A Statement will be any linen of code not necessarily involving any manipulation or logic execution. For example an assignment statement a=10


_A quick search on Google provides a more Formal and a Succint definition:<br>
In programming language terminology, an “expression” is a combination of values and functions that are combined and interpreted by the compiler to create a new value, as opposed to a “statement” which is just a standalone unit of execution and doesn't return anything_

---

> #### 6. After running the following code, what does the variable bacon contain?
bacon = 22 <br>
bacon + 1

In [9]:
bacon =22
bacon + 1

print(bacon)

print(bacon + 1)

22
23

As seen, variable bacon contains the original value of 22.<br> If we wish to increment its value by 1 then the following code is suggested. <br>

In [10]:
bacon =22
bacon = bacon + 1
print(bacon)

23

---

> #### 7. What should the values of the following two terms be? <br>
'spam' + 'spamspam' <br>
'spam' * 3

In [11]:
print('spam' + 'spamspam')

spamspamspam

In [12]:
print('spam' * 3)

spamspamspam

---

> #### 8. Why is eggs a valid variable name while 100 is invalid?

Although we have a lot of freedom when it comes to namaing variables. Still there are some rules to be adhered to:
    
- Variable name must start only with a letter or the underscore'_' character
- Variable name cannot start with a Number
- Variable name only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [13]:
x=1
x

1

In [14]:
_x=1
_x

1

In [15]:
_1=1
_1

1

In [16]:
x1=1
x1

1

In [17]:
_=1
_

1

---

> #### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [8]:
x=456
y=456.0
z='558'


# Convert the float and string to integer
print('Convert the float and string to integer')

print(int(y))
print(int(z))

# Convert the int and string to float
print('Convert the int and string to float')

print(float(x))
print(float(z))

# Convert the int and float to string
print('Convert the int and float to string ')

x=str(x)
print(type(x),":",x)

y =str(y)
print(type(y),":",y)

Convert the float and string to integer
456
558
Convert the int and string to float
456.0
558.0
Convert the int and float to string
<class 'str'> : 456
<class 'str'> : 456.0

---

> #### 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

String data type cannot be added / concatenated with numeric data. type<br>

We can typecast the inetegr 99 to string data type to rectify the error.

In [1]:
print('I have eaten ' ,  str(99) , ' burritos.')

I have eaten  99  burritos.